.adminboard-container {
    margin-top: 1rem;
    max-width: 1080px;

}
.adminboard-container__nav__wrapper{
    display: flex; 
    width: 100%;
    overflow-x: auto;
    justify-content: center;
}
.adminboard-container__nav {
    margin-bottom: 2rem;
    justify-content: center;
    display: flex;

}

.adminboard-container__nav a {
    padding: 5px;
    text-decoration: none;
    margin: 0px 5px;
}

.adminboard-container__nav a:active {
    color: green;
}


.admin__booksList {
    width: 100%;  
    overflow-x: auto;
    display: flex;
}
.admin__usersList,
.admin__authorsList
{
    width: 100%;  
    overflow-x: auto;
    display: flex;
    justify-content: center;
}


.admin__usersList ol,
.admin__authorsList ol,
.admin__booksList ol {
    padding: 0;
    width: 100%;
    max-width: 780px;
}

.admin__usersList ol li,
.admin__authorsList ol li {
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.admin__borrowList {
    width: 100%;  
    overflow-x: auto;
}





.admin__borrowList ol li div:first-child {
    font-weight: bold;
}

.admin__borrowList ol li {
    min-height: 60px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

}


.admin__booksList ol li {
    min-height: 80px;
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 520px) {
    .admin__booksList ol li {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.admin__usersList ol li:first-child,
.admin__booksList ol li:first-child,
.admin__authorsList ol li:first-child,
.admin__borrowList ol li:first-child {
    font-weight: bold;
}

.admin__booksList ol li div:nth-child(2) {
    display: flex;
    justify-content: center;
}


.admin__usersList ol li div:first-child,
.admin__booksList ol li div:first-child,
.admin__authorsList ol li div:first-child,
.admin__borrowList ol li div:first-child {
    text-align: left;
    margin-left: 2px;
}



.book__img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 80px;
    cursor: 'pointer';
}

@media screen and (max-width: 760px) {
    .book__img {
        width: 80px;
        height: 64px;
    }
}




.admin__booksList ol li button,
.admin__usersList ol li button,
.admin__authorsList ol li button {
    align-self: center;
    width: 100%;
    max-width: 150px;
    height: 36px;
    border-radius: 2px;
    background: #e24040;
    outline: none;
    border: none;
    color: #FFFFFF;
    transition: background-color 0.2s;

    &:hover {
        background: red;
    }

    &:disabled {
        background: #F6B2B5;
        cursor: not-allowed;
        opacity: 0.7;
    }
}

/* author__list specific css */

.admin__authorsList ol li .editButton,
.admin__authorsList ol li .deleteButton,
.admin__booksList ol li .editButton,
.admin__booksList ol li .deleteButton {
    max-width: 100px;
    min-width: 50px;
    margin: 1px;
    outline: none;
    border: none;
}

.admin__authorsList ol li .editButton,
.admin__booksList ol li .editButton {
    color: var(--button-primary-text-color);
    background: var(--button-primary-bg-color);

    &:hover {
        background: var(--link-hover-color);
    }
}

@media (max-width: 520px) {

    .admin__authorsList ol li .editButton,
    .admin__authorsList ol li .deleteButton,
    .admin__booksList ol li .editButton,
    .admin__booksList ol li .deleteButton {
        font-size: 14px;
        height: 24px;
    }

    .admin__authorsList ol li div:nth-child(1),
    .admin__authorsList ol li div:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
    }

    .admin__booksList ol li div:nth-child(1),
    .admin__booksList ol li div:nth-child(3) {
        overflow: hidden;
        font-size: 14px;
    }
}

/* ------------------------------- */

.admin__addbook,
.admin__addauthor {
    display: flex;
    justify-content: center;
}

.admin__addbook .card-container,
.admin__addauthor .card-container {
    width: 80%;
    max-width: 620px;
    padding: 20px;
}

.admin__addbook .card-container label,
.admin__addauthor .card-container label {
    margin: 5px 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.admin__addbook button,
.admin__addauthor button {
    margin-top: 10px;
    ;
}


.nonreturn {
    height:32px;
    width: 100px;
    border-radius: 2px;
    outline: none;
    border: none;
    color: #FFFFFF;
    background: #e24040;
    transition: background-color 0.2s;
    &:hover {
        background: red;
    }
}

.return {
    height:32px;
   width: 100px;
    border-radius: 2px;
    outline: none;
    border: none;
    transition: background-color 0.2s;
    color: var(--button-primary-text-color);
    background: var(--button-primary-bg-color);

    &:hover {
        background: var(--link-hover-color);
    }
}


.select-button {
    margin-left: 2px;
    width: 80px;
    border-radius: 2px;
    height: 32px;
    outline: none;
    border: none;
    transition: background-color 0.2s;
    color: var(--button-primary-text-color);
    background: var(--button-primary-bg-color);

    &:hover {
        background: var(--link-hover-color);
    }
    &:disabled {
        background: var(--button-secondary-bg-color); 
        color: var(--button-secondary-text-color);
        cursor: not-allowed; 
    
      &:disabled:hover {
        background: var(--button-secondary-bg-color); 
      }
}
}

.select-dropdown {
    justify-content: center;
    width: 80px;
    height: 32px;
    border-radius: 2px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);
    text-align: center;
}
