.userboard-container {
    margin-top:1rem;
    max-width: 1080px;
    }
    .userboard-container_nav{
        margin-bottom:2rem;
        justify-content: center;
        display: flex;
    
    }
    .userboard-container_nav a {
     padding:5px;
     text-decoration: none;
    margin:0px 5px;
    }
    .userboard-container_nav a:active{
      color:green;
    }

/* Borrow list */
.user__borrowList {
    width: 100%;  
    overflow-x: auto;
}
.user__borrowList ol li div:first-child {
    font-weight: bold;
}

.user__borrowList ol li {  
    min-height: 60px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
}

user__borrowList ol li div{
    border:2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.user__borrowList ol li:first-child {
    text-align: center;
    font-weight: bold;
}



.user__borrowList__book{
    max-width:50%;
}

.userboard-container a {
display: inline-block;
 padding:5px 10px;
 margin:5px 10px 20px 0px ;
 text-decoration: none;

}

.userboard-container .active {
    background-color: azure;
    color: green;
}

.user__setting {
    display: flex;
    justify-content: center;
  }
  
  .user__setting .card-container
  {
      width:80%;
      max-width: 620px;
      padding:20px;
  }
  .user__setting .card-container label
   {
      margin:5px 0px;
      text-align: center;
      display: inline-block;
      width:100%;
  }
  .user__setting button {
      margin-top: 10px;;
  }





/*  movethis to adminboard.css */

.admin__borrowList ol {
    margin: 0;
    padding:0;
}
.admin__borrowList ol li {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
    margin-bottom: 10px;
}
.admin__borrowList ol li:first-child {

  font-weight: bold;
}


.admin__borrowList__book{
    max-width:50%;
}

.adminboard-container a {
display: inline-block;
 padding:5px 10px;
 margin:5px 10px 20px 0px ;
 text-decoration: none;

}

.adminboard-container .active {
    background-color: azure;
    color: green;
}




.return {
    width:120px;
    background: green;
    padding:0px;
}
.green-text{
    color:green;
}
.red-text{
    color:red;
}