.user__borrowList ol {
    margin: 0;
    padding:0;
}
.user__borrowList ol li {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
    margin-bottom: 10px;
}
.user__borrowList ol li:first-child {

  font-weight: bold;
}

.user__borrowList li img {
    max-width:100%;
    max-height:30px;
}
.user__borrowList__book{
    max-width:50%;
}

.userboard-container a {
display: inline-block;
 padding:5px 10px;
 margin:5px 10px 20px 0px ;
 text-decoration: none;

}

.userboard-container .active {
    background-color: azure;
    color: green;
}

.user__setting {
    display: flex;
    justify-content: center;
  }
  
  .user__setting .card-container
  {
      width:80%;
      max-width: 620px;
      padding:20px;
  }
  .user__setting .card-container label
   {
      margin:5px 0px;
      text-align: center;
      display: inline-block;
      width:100%;
  }
  .user__setting button {
      margin-top: 10px;;
  }












/*  movethis to adminboard.css */

.admin__borrowList ol {
    margin: 0;
    padding:0;
}
.admin__borrowList ol li {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
    margin-bottom: 10px;
}
.admin__borrowList ol li:first-child {

  font-weight: bold;
}

.admin__borrowList li img {
    max-width:100%;
    max-height:30px;
}
.admin__borrowList__book{
    max-width:50%;
}

.adminboard-container a {
display: inline-block;
 padding:5px 10px;
 margin:5px 10px 20px 0px ;
 text-decoration: none;

}

.adminboard-container .active {
    background-color: azure;
    color: green;
}



.nonreturn {
    width:120px;
    padding:0px;
    background: red;
}
.return {
    width:120px;
    background: green;
    padding:0px;
}
.green-text{
    color:green;
}
.red-text{
    color:red;
}