.user__borrowList ol {
    margin: 0;
    padding:0;
}
.user__borrowList ol li {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
    margin-bottom: 10px;
}
.user__borrowList ol li:first-child {
  font-weight: bold;
}

.user__borrowList li img {
    max-width:100%;
    max-height:30px;
}
.user__borrowList__book{
    max-width:50%;
}

.userboard-container a {
display: inline-block;
 padding:5px 10px;
 margin:5px 10px 20px 0px ;
 text-decoration: none;

}

.userboard-container .active {
    background-color: azure;
    color: green;
}
.nonreturn {
    width:120px;
    padding:0px;
    background: red;
}
.return {
    width:120px;
    background: green;
    padding:0px;
}
.green-text{
    color:green;
}
.red-text{
    color:red;
}