.cart {
    display: flex;
    justify-content: center;
}
.cart .cart_title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart ul li {
    max-width:680px;
    display: grid;
   grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
   grid-template-rows: 50px;
}
.cart ul li img {
    max-width: 100%;
    max-height: 90%;
}

.cart a {
    text-decoration: none;
    color: var( --text-color);
}
