.cart ul li {
    max-width:680px;
    display: grid;
   grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
   grid-template-rows: 50px;
}
.cart ul li img {
    max-width: 100%;
    max-height: 90%;
}

.cart a {
    text-decoration: none;
}
