.adminboard-container {
margin-top:1rem;
max-width: 1080px;

}
.adminboard-container_nav{
    margin-bottom:2rem;
    justify-content: center;
    display: flex;

}
.adminboard-container_nav a {
 padding:5px;
 text-decoration: none;
margin:0px 5px;
}
.adminboard-container_nav a:active{
  color:green;
}



.admin__usersList ol li {
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.admin__borrowList ol li div:first-child {
    font-weight: bold;
  }

.admin__borrowList ol li {
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.admin__booksList ol li {
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr 2fr ;

}

.admin__authorsList ol li  {
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.admin__usersList ol li:first-child,
.admin__booksList ol li:first-child,
.admin__authorsList ol li:first-child,
.admin__borrowList ol li:first-child
 {
    font-weight: bold;
}
.admin__usersList ol li div:first-child,
.admin__booksList ol li div:first-child,
.admin__authorsList ol li div:first-child,
.admin__borrowList ol li div:first-child
 {
    text-align: left;
}


.book__img {
    display: flex;
    justify-content: center;
}

.admin__booksList ol li button, .admin__usersList ol li button, .admin__authorsList ol li button{
    height:40px;
    border-radius: 2px;
    background: red;
}

.admin__booksList ol li .editButton, .admin__authorsList ol li .editButton  {
  background: blue;
  padding: 0px 15px;
  margin-left: 2px;

}

.admin__addbook, .admin__addauthor {
  display: flex;
  justify-content: center;
}

.admin__addbook .card-container,
.admin__addauthor .card-container 
{
    width:80%;
    max-width: 620px;
    padding:20px;
}
.admin__addbook .card-container label,
.admin__addauthor .card-container label
 {
    margin:5px 0px;
    text-align: center;
    display: inline-block;
    width:100%;
}
.admin__addbook button, .admin__addauthor button {
    margin-top: 10px;;
}

